html {

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding:0;
  margin: 0;
  color: #333;
  letter-spacing: 0;
  background: #e5e5e5;
  font: 12px Arial;
}

header {
  padding-top: 2.0rem;
  border-bottom: 1px solid #EEE;
}

header a, header a:hover {
  text-decoration: none;
}

main {
  flex: 1;
}

footer {
  padding-top: 2.5rem;
  border-top: 1px solid #EEE;
}

h4 {
  margin-top: 4rem;
}
h1{
  margin-left: 10px;
}
a {
  color: #0275d8;
  text-decoration: none;
}

a:hover {
  color: #014c8c;
  text-decoration: underline;
}

table {
  margin-left: 0;
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
  padding: 5px;
}

td {
  padding: 0 1em .5em 0;
  color: #014c8c;
  border: 1px solid lightgray;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin-bottom: .2rem;
}

code {
  border-radius: 0;
}
#root{
  max-width: 1000px;
  width: 100%;
}
.container{
  max-width: 1000px;
  width: 100%;
}
.logo {
  font-size: 20px;
  margin: 20px 0;
  color: #95989a;
}
.logo b {
  color: gray;
}
.search-input {
  display: inline-block;
  background: white;
  padding: 5px;
  box-sizing: border-box;
}

input#search-box{
  border: none;
  margin-left: 5px;
}

input#search-box::placeholder {
  color: lightgray;
}
input#search-box:focus {
  outline:none;
}
button {
  background: #fab43d;
  border: none;
  padding: 5px 25px;
  color: white;
  cursor: pointer;
  line-height: 18px;
  font-weight: bold;
}
button:disabled{
  background: gray;
}
.search-input:focus-within{
  box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.search-input > label {
  color: #fab43d;
}
.search-input+div{
  float: right;
}
.list {
  width: 100%;
  margin-top: 15px;
  background: white;
}
.list > div {
  display: flex;
  width: 100%;
}

.row > div:nth-child(1){
  display: inline-flex;
  width: 35%;
  padding: 5px;
}
.row > div:nth-child(2){
  display: inline-flex;
  width: 65%;
  padding: 5px;
}
.avatar {
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.avatar+div > span{
  font-weight: bold;
}
.tablehead {
  width: 100%;
  font-weight: bold;
  box-shadow:0px 2px 5px 0px rgba(50, 50, 50, 0.28);
  display: table;
}
.row:not(:first-child) > div{
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
}
.row:not(:first-child):nth-child(odd){
  background-color: ghostwhite;
}


.row a{
  display: none;
}
.row > div:hover >  div > a {
  display: block;
  color: #fab43d;;
}
h1 > button {
  float: right;
  margin-right: 10px;
}
form#new {
  display: flex;
  flex-direction: column;
  border-top: 1px solid darkgray;
  background: #f9f9f9;
  padding:30px;
  justify-content: center;
}
#new label + input, textarea {
  display: block;
  width: 100%
}
#new label {
  font-weight: bold;
  font-size: 12px;
}
#new label::after {
  content:' *';
  color: red;
}

#new input, #new textarea{
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
  line-height: 2.5em;
  border: 2px solid darkgray;
  padding-left: 10px;
}
#new button {
  align-self: center;
  width: 100%;
  max-width: 200px;￼
}
.pagination > a {
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
}
.pagination > a.next{
  float: right;
}
.pagination i {
  background: #fab43d;
  color: white;
  padding:5px;
  border-radius: 100%;
}
